
<div class="time_display" >{{hours_str}}:{{minutes_str}}:{{seconds_str}}</div>

<div class="button_div">
    <button class="start_stop_button" (click)="toggleTimer()">Start / Stop</button>
    <button class="wait_button" (dblclick)="waitTimer()">Wait</button>
    <button class="reset_button" (click)="resetTimer()">Reset</button>
</div>
<br/><br/><br/><br/><br/>
<h1 class="bonus_h1">BONUS PART</h1>
<h1 class="bonus_h2">BREAK THE UNIVERSE RULES AND CONTROL THE TIME</h1>
<div class="button_div">
    <button class="half_time_bonus_button" (click)="half_the_time()">0.5x</button>
    <button class="normal_time_bonus_button" (click)="normal_time()">1x</button>
    <button class="twice_time_bonus_button" (click)="twice_the_time()">2x</button>
</div>
<br/>
<div class="button_div">
    <button class="extra_time_bonus_button" (click)="extra_time()">10x</button>
</div>